.notification-bar-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notification-bar-main-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.notification-bar-main-header-unreadCount {
  border: 0.5rem solid var(--clr-blue);
  border-width: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.notification-bar-main-header-tag {
  margin: 0;
}

.notification-bar-main-markAsRead {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-grayish-blue);
  cursor: pointer;
  transition: 0.2s ease;
}

.notification-bar-main-markAsRead:hover {
  color: var(--clr-blue);
  transition: 0.2s ease;
}
